{{ define "main" }}
<div class="container portfolio-single">
    <div class="row">
        <div class="col-lg-8">
            <h1 class="mt-4">{{ .Title }}</h1>
            <hr>
            {{ .Content }}
        </div>
        <div class="col-lg-4">
            <div class="card my-4">
                <h5 class="card-header">About Us</h5>
                <div class="card-body">
                    We are Cool Docs, a documentation consulting group specializing in helping startups build documentation processes using open source tools and a Docs-as-code methodology.
                </div>
            </div>
        </div>
    </div>
</div>
{{ end }}