{{ define "main" }}
<div class="container">
    <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
            {{ range .Paginator.Pages }}
            <div class="post-preview">
                <a href="{{ .Permalink }}">
                    <h2 class="post-title">
                        {{ .Title }}
                    </h2>
                    <h3 class="post-subtitle">
                        {{ .Description }}
                    </h3>
                </a>
                <p class="post-meta">Posted by
                    <a href="#">{{ .Author }}</a>
                    on {{ .Date.Format "January 2, 2006" }}</p>
            </div>
            <hr>
            {{ end }}
            <!-- Pager -->
            <div class="clearfix">
                {{ if .Paginator.HasPrev }}
                <a class="btn btn-primary float-left" href="{{ .Paginator.Prev.URL }}">&larr; Newer Posts</a>
                {{ end }}
                {{ if .Paginator.HasNext }}
                <a class="btn btn-primary float-right" href="{{ .Paginator.Next.URL }}">Older Posts &rarr;</a>
                {{ end }}
            </div>
        </div>
    </div>
</div>
{{ end }}